<% provide(:title, "Home") %>
<div class="container-cent">
	<h1 class="main-title polbatt">FindForMe</h1>
	<% if user_signed_in? %>
	<h4 class="main-title">Bienvenue <strong><%= current_user.firstname %>. </strong>Connecté en tant que  <strong><%= current_user.email %>.</strong>
	<%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn btn-primary", id: "dec" %></h4>
	<% else %>
	<h4 class="main-title"><i class="em em-arrow_double_down"></i> Pour utiliser FindForMe vous devez vous <strong>Connecter</strong> ou bien vous <strong>Inscrire</strong> <i class="em em-arrow_double_down"></i><h4>
		<%=  link_to "Inscription", new_user_registration_path , class: "btn btn-success", id: "ins" %>  
		<%=  link_to "Connexion", new_user_session_path , class: "btn btn-success ", id: "con" %> 
	<% end %>
</div>